In [4]:
%matplotlib inline
%run 'database.py'

In [6]:
df.head()

  classe  id    text
0      x   1  blabla

In [90]:
columns = ['petal_length','petal_width', 'sepal_length', 'sepal_width']

In [91]:
from sklearn import preprocessing

# converting categorical label to numerical format
encoder = preprocessing.LabelEncoder()
y = encoder.fit_transform(df.classe)
class_categories = encoder.inverse_transform(y)

# vectorize data
X = df.as_matrix(columns=columns)

In [79]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X_new = SelectKBest(chi2, k=2).fit_transform(X, y)

In [132]:
import requests
import json

payload = {'username': 'dhiogo', 'password':'1234',  'app_id':'ab4ddb54-d320-4c81-93f6-cbc4227e6ef0',
           'app_secret': 'baed0c51-955c-40a6-81e8-507a0afc9799'}

headers = {'content-type': 'application/json'}
token = requests.post('http://192.168.21.23:8765/account/login', data=json.dumps(payload), headers=headers).json()['access_token']


head = {'Access-Token':token}
response = requests.get('http://192.168.21.23:8765/analytics/tables/iris', headers=head)

print response.json()

[{u'user_id': 2, u'tablename': None, u'creation_date': u'2016-12-06 16:28:42.604195', u'alias': u'iris', u'table_id': 2, u'pkey_column': u'id__', u'columns': u'id__,id,petal_length,petal_width,sepal_length,sepal_width,classe'}]

In [141]:
import seaborn as sns
sns.pairplot(df.drop(['id','id__'], axis=1), hue="classe", size=3)

ValueError: labels ['id__'] not contained in axis

In [142]:
df.head()

  classe  id    text
0      x   1  blabla